#if($util.isNullOrEmpty($ctx.args.room_id))
  $util.error("null or empty", "room_id")
#end
#if($ctx.args.room_id.length() > 30)
  $util.error("unexpected length (too long)", "room_id")
#end
#if(!$util.matches("^[0-9a-zA-Z]+$", $ctx.args.room_id))
  $util.error("unexpected pattern", "room_id")
#end

#if($util.isNullOrEmpty($ctx.args.user_id))
  $util.error("null or empty", "user_id")
#end
#if($ctx.args.user_id.length() > 30)
  $util.error("unexpected length (too long)", "user_id")
#end
#if(!$util.matches("^[0-9a-zA-Z]+$", $ctx.args.user_id))
  $util.error("unexpected pattern", "user_id")
#end

{
    "version" : "2017-02-28",
    "operation" : "PutItem",
    "key" : {
        "event_id": $util.dynamodb.toDynamoDBJson($util.autoUlid()),
    },
    "attributeValues" : {
        "room_id": $util.dynamodb.toDynamoDBJson($ctx.args.room_id),
        "user_id": $util.dynamodb.toDynamoDBJson($ctx.args.user_id),
        "op_type": $util.dynamodb.toDynamoDBJson("REFRESH_TABLE"),
        "operated_at": $util.dynamodb.toDynamoDBJson($util.time.nowISO8601()),
    },
    "condition": {
        "expression": "attribute_not_exists(#event_id)",
        "expressionNames": {
            "#event_id": "event_id",
        },
    },
}